.form {
  width: 100%;

  @media screen and (min-width: 1280px) {
    padding-left: 40px;
    padding-right: 40px;
  }

  &__title {
    font-family: "Exo 2.0", "Arial", sans-serif;
    font-size: 36px;
    line-height: 1.2;
    text-align: center;
    margin: 0;
    margin-bottom: 26.6px;
  }

  &__fieldset {
    border: none;
    padding: 0;
    margin: 0;
  }

  &__list {
    width: 100%;
    box-sizing: border-box;
    padding: 0;
    padding-bottom: 3px;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}