@import '../../scss/variables.scss';

.loading {
  background-color: $bgLoading;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;

  &__logo {
    height: 50vmin;
    pointer-events: none;
  }

  @media (prefers-reduced-motion: no-preference) {
    &__logo {
      animation: loading-logo-spin infinite 20s linear;
    }
  }

}

@keyframes loading-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
