@import './scss/variables.scss';

html,
body,
#root {
  min-height: 100vh;
}

body {
  margin: 0;
  font-family: $Trebuchet-MS;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: $baseFontSize;
  line-height: $baseLineHeight;
}

.root {
  background-color: rgb(0, 0, 0);
  background-image: url("./images/bg-page.jpg");
  background-repeat: repeat;
  color: #fff;
  display: flex;
  flex-direction: column;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}