@import './variables.scss';

.text {
  &-blue {
    color: $color-product;
    transition: color 0.3s linear;
    &:hover {
      color: $color-product-hover;
    }
  }
  &-decor-style-dashed {
    text-decoration: underline;
    text-decoration-color: inherit;
    text-decoration-style: dashed;
  }
}
