$Exo2-Thin: 'Exo 2.0', 'Arial', sans-serif;
$Trebuchet-MS: "Trebuchet MS", 'Arial', sans-serif;

$baseFont: $Exo2-Thin;
$baseFontSize: 16px;
$baseLineHeight: 1.5;
$bgLoading: #282c34;

$color-text-body: #fff;

$color-text-product: #000000;
$color-text-product-title: #666666;
$color-product: #1698d9;
$color-product-hover: #2ea8e6;
$color-product-checked: #d91667;
$color-product-checked-hover: #e62e7a;
$color-product-disabled: #b3b3b3;
$bg-product: #f2f2f2;
$bg-product-circle: #1698d9;
$text-color-product-circle: #fff;
$text-color-buy: #fff;
$text-color-buy-no: #ffff66;
